<link rel="stylesheet" href="../style/main.css">

<div class="mainHeader">
  <div class="mainContainer">
    <h1 class="titleName">Unicorn Stock</h1>
    <div class="description">Stock 3d models for board games</div>
    {{#if user}}
    <span>Привет {{user}}</span>
    <a href="/logout"><button id="regButton" type="button" class="btn btn-outline-light">logout</button></a>
    {{/if}}
    {{#unless user}}
    <a href="/registration"><button id="regButton" type="button" class="btn btn-outline-light">Register</button></a>
    <a href="/login"><button id="regButton" type="button" class="btn btn-outline-light">Login</button></a>
    {{/unless}}
  </div>
</div>

<div class="bodyContainer">
  <div class="row my-4">
    <div class="col">
      <div id="allCards">
        {{#each currNote}}
        <div class="card" style="width: 18rem;">
          <img class="modelImg" src="{{this.modelImage}}" class="card-img-top" alt="3d mdel">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.description}}</p>
            <br />
            <h4 class="price">{{this.price}} $</h4>
            <a href="/listing/{{this.id}}"><button class="btn btn-secondary">BUY NOW</button></a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="pagination">
      {{#each btnArr}}
      <a class="paginationLink" href="{{this.href}}">{{this.name}}</a>
      <br/>
      {{/each}}
    </div>

  </div>
</div>

<footer>
  <div class="footerBox">
    <a href="/"><button type="button" class="btn btn-outline-light" style="width: 200px; margin: 5px">About
        us</button></a>
    <a href="/"><button type="button" class="btn btn-outline-light" style="width: 200px; margin: 5px">To become
        creater</button></a>
    <a href="/"><button type="button" class="btn btn-outline-light" style="width: 200px; margin: 5px">To become
        maker</button></a>
  </div>
</footer>
